---
layout: default
---

<div class="header">
    <h1><a href="http://lafrikitiva.com" class="logo" title="Inicio / human vs zombies">
    <img src="/assets/img/ataquezombie.svg" alt="Inicio" width="45" height=auto>
  </a></h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="post">
	
    <div class="post__title">
    	<h1>{{ page.title }}</h1>
    </div>
    <div class="post__date">
    	<p>Publicado el {{ page.date | date: '%d / %m / %y' }}</p>
    </div>
	</div>
	
    <div class="post__meta">
    	<p>{{ tags_content }}</p>
    </div>
    <div class="post__content"?>
        {{ content }}
    </div>
	
</div>
